body{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    margin: 3px;
    text-indent: 20px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 3px;
    margin: 3px;
    line-height: 30px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 1px;
    padding: 1px;
    text-align: left;
    
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px
}

h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 9px
}

h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px
}

.btn-mep{
    background-color: black;
    color:white
}

.btn-mep:hover{
    background-color: gray;
    color: orange
}

.btn-mep:active{
    transform: translateY(20px);
}

.btn-mer{
    background-color: gray;
    color:white
}

.btn-mer:hover{
    background-color: white;
    color: orange
}

.btn-mer:active{
    transform: translateX(20px);
}

.img-fluid{
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

.scroll-top{
    background-color: gray;
    color:black;
    width: 120px;
}

.credits{
    background-color: azure;
    border: 1px gray solid
}

.section-intro{
    text-align: center;
}

.custom-ul {
    list-style: none;
    padding-left: 20px;
}

.custom-ul li {
    position: relative;
    margin-bottom: 8px;
    font-size: 14px;
}

.custom-ul li::before {
    content: "•";
    color: rgb(255, 140, 0);
    font-weight: bold;
    position: absolute;
    left: -15px;
    font-size: 18px;
}

.mano-lentele {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}

.mano-lentele thead tr {
    background-color: #333;
    color: white;
    font-weight: bold;
}

.mano-lentele th, 
.mano-lentele td {
    padding: 12px;
    border: 1px solid #777; 
}

.mano-lentele tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.mano-lentele tbody tr:nth-child(even) {
    background-color: #ffffff;
}



.navmenu{
    text-decoration: line-through;
}

.sitename{
    text-decoration: underline;
}